body {
    background-color: #ffffff;
    background: #e8e8e8;
}

.header h2 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
    color: rgb(197, 211, 0);
}

section {
    width: 550px;
    border: 2px solid turquoise;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    background-color: #124d7d;
    border-radius: 20px;
}

.display input {
    width: 92%;
    height: 100px;
    border: none;
    border-radius: 10px;
    background: #1e5e94;
    box-shadow: 20px 20px 60px #124d7d,
        -20px -20px 60px #124d7d;
    transition: 0.3s;
    margin-bottom: 30px;
    font-size: 60px;
    text-align: right;
    color: white;
}

.display input:focus {
    outline-color: #e8e8e8;
    background: #124d7d;
    box-shadow: inset 20px 20px 60px #00000008,
        inset -20px -20px 60px #00000003;
    transition: 0.3s;
    outline: none;
}

.cal_body {
    width: 100%;
    padding: 0;
}

.cal_body button {
    height: 100px;
    width: 20%;
    margin: 10px;
    box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 3px 4px -1px rgba(255, 255, 255, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.8), inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
    border-radius: 68.8px;
    display: inline-block;
    border: none;
    font-size: 50px;
    text-align: center;
}